body {
	background-image: url("https://i.pinimg.com/originals/9e/68/fe/9e68feee9bdb96947f89229428a373c5.jpg") 
}
.btn{
	border: 2px dashed #226fbe;
}
.btn:hover {
	background: transparent;
	color: #226fbe;
}
.transparente{

opacity: 0.8;

-moz-opacity: 0.8;

filter: alpha(opacity=80);

-khtml-opacity: 0.8;

}
