{% extends 'layout.html.twig'  %}

{% block body %}
{{ parent() }}
		<div class="main container">
			<div class="transparente">
				<div class="col-md-6">
					<div class="page-header">
						<h2>Nuevo Paciente</h2>
					</div>
					{{ form_start( form, { 'attr' : { 'sexo' : 'form' } } ) }}
						<div class="form_group">
						{{ form_label(form.nombre )}}
						{{ form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder': "Nombre del Paciente"}})}}
						<span class="text-danger">{{ form_errors(form.nombre) }}</span>
						</div>
						<br />
						<div class="form_group">
						{{ form_label(form.apellido )}}
						{{ form_widget(form.apellido, {'attr' : {'class' : 'form-control', 'placeholder': "Apellido del Paciente"}})}}
						<span class="text-danger">{{ form_errors(form.apellido) }}</span>
						</div>
						<br />
						<div class="form_group">
						{{ form_label(form.cedula )}}
						{{ form_widget(form.cedula, {'attr' : {'class' : 'form-control', 'placeholder': "cedula del Paciente"}})}}
						<span class="text-danger">{{ form_errors(form.cedula) }}</span>
						</div>
						<br />
						<div class="form_group">
						{{ form_label(form.telefono )}}
						{{ form_widget(form.telefono, {'attr' : {'class' : 'form-control', 'placeholder': "Telefono del Paciente"}})}}
						<span class="text-danger">{{ form_errors(form.telefono) }}</span>
						</div>
						<br />
						<div class="form_group">
						{{ form_label(form.sexo )}}
						{{ form_widget(form.sexo, {'attr' : {'class' : 'form-control'}})}}
						<span class="text-danger">{{ form_errors(form.sexo) }}</span>
						</div>
						<br />
						<div class="form_group">
						{{ form_label(form.direccion )}}
						{{ form_widget(form.direccion, {'attr' : {'class' : 'form-control', 'placeholder': "Direccion del Paciente"}})}}
						<span class="text-danger">{{ form_errors(form.direccion) }}</span>
						</div>
						<div></div>
						</fieldset>
						<br />
						<div> <p>Fecha de Nacimientos</p> 
						{{ form_widget(form.fechaRegistroAt)}}
						</div>
						<br />
						<p>
							{{ form_widget(form.Registrar, {'label' : 'Registrar Paciente', 'attr': {'class' : 'btn btn-success'}})}}
						</p>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
{% endblock %}