{% extends 'layout.html.twig'%}

{% block body %}
{{ parent() }}
{% for flashMessage in app.session.flashbag.get("mensaje") %}
<div class="alert alert-success" rola="alert">
<div class="container">{{ flashMessage }}</div>
{% endfor %}
<div class="container">
<div class="transparente">
<div class="page-header margin-none">
    <h2 class="padding-none">Pacientes</h2>
    </div>   
<div class="table-resposive">

<table class="table table-striped table-hover">
    <thead>
    <tr>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Cedula</th>
         <th>Telefono</th>
         <th>Sexo</th>
         <th>Dirección</th>
         <th>Fecha de Registro</th>
    </tr>
    </thead>
    {% for pas in pas %}
    <tbody>
        <tr>
            <td>{{ pas.nombre }}</td>
            <td>{{ pas.apellido }}</td>
            <td>{{ pas.cedula }}</td>
            <td>{{ pas.telefono }}</td>
            <td>{{ pas.sexo }}</td>
            <td>{{ pas.direccion }}</td>
            <td>{{ pas.fechaRegistroAt|date('d-m-Y H:i') }}</td>
            <td>
            <a href="#" class="btn btn-sm btn-info">VER</a>
             <a href="#" class="btn btn-sm btn-primary">EDITAR</a>
            <a href="#" class="btn btn-sm btn-danger btn-delet">MODIFICAR</a>
            </td>
        </tr>
    {% endfor %}
   </tbody>
   </table>
   </div>
   </div>
   </div>
</table>
{% endblock %}